.header {
    background-color: #FFFFFF;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
}

.header-left,
.header-center,
.header-right {
    display: flex;
    align-items: center;
    gap: 24px;
}

.search {
    display: flex;
    flex-direction: row;
}

.search-bar {
    width: 348px;
    height: 40px;
    padding: 5px 0 5px 5px;
    box-sizing: border-box;
    border: 1px solid #CCCCCC;
}

.search-bar:focus {
    border-color: #1c62b9;
    outline: none;
}

.search-button {
    height: 40px;
    width: 40px;

    border: 1px solid #CCCCCC;
    border-left: none;
    cursor: pointer;
}

.search-button:hover {
    background-color: #CCCCCC;
}

.search-button img {
    max-width: 18px;
    max-height: 18px;
}

.icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}