.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
}

.header-left,
.header-center,
.header-right {
    display: flex;
    align-items: center;
    gap: 24px;
}



.icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}